Build/flows_nhe-livebobject-connector.json
[{"id":"18d29d40.a5b22b","type":"tab","label":"LiveObject_To_FE_DIS","disabled":false,"info":""},{"id":"ec7db15.8aac95","type":"tab","label":"FEDis_Push_Message","disabled":false,"info":""},{"id":"942b7b4.7cb3a88","type":"mqtt-broker","z":"","name":"Live Object","broker":"liveobjects.orange-business.com","port":"1883","clientid":"mqtt2dis","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d46338da.a7a72","type":"mqtt in","z":"18d29d40.a5b22b","name":"Connect to LiveObject","topic":"fifo/Flexible_Engine_FIFO","qos":"2","datatype":"auto","broker":"942b7b4.7cb3a88","x":140,"y":100,"wires":[["66a33c4e.d6f8d4"]]},{"id":"66a33c4e.d6f8d4","type":"json","z":"18d29d40.a5b22b","name":"Convert LO Mqtt Msg to JSON","property":"payload","action":"","pretty":false,"x":490,"y":100,"wires":[["26950781.f45168","5c9108d5.6766a","6578469e.4f8e1"]]},{"id":"26950781.f45168","type":"debug","z":"18d29d40.a5b22b","name":"liveobject_received_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"c8da1f77.f63a38","type":"inject","z":"ec7db15.8aac95","name":"","topic":"","payload":"{\"MessageData\":\"Hello The World\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["3f6ff70c.14d458","71c48219.8ed02c"]]},{"id":"3f6ff70c.14d458","type":"function","z":"ec7db15.8aac95","name":"Prepare Token Request Message","func":"msg.method = 'POST'\nmsg.url = 'https://iam.eu-west-0.prod-cloud-ocb.orange-business.com/v3/auth/tokens'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json;charset=utf8';\nmsg.payload = '{\"auth\":{\"identity\":{\"methods\":[\"password\"],\"password\":{\"user\":{\"name\":\"ernest.nam.hee\",\"password\":\"5Tvmdlmdms15e@\",\"domain\":{\"name\":\"OCB0001686\"}}}},\"scope\":{\"project\":{\"name\":\"eu-west-0\"}}}}'\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["4373d2ab.012364"]]},{"id":"4373d2ab.012364","type":"http request","z":"ec7db15.8aac95","name":"Msg_Authentication_Token_Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":120,"wires":[["c5755026.972da8"]]},{"id":"c5755026.972da8","type":"switch","z":"ec7db15.8aac95","name":"Token Is Available ?","property":"headers.x-subject-token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":900,"y":160,"wires":[["cec2e85f.749c08"],[]]},{"id":"28f51fb8.3278c8","type":"function","z":"ec7db15.8aac95","name":"Prepare Dis Stream Record","func":"var myToken = flow.get(\"mytoken\");\nvar myData = flow.get(\"base64payload\");\n\nmsg.method = 'POST'\nmsg.url = 'https://dis.eu-west-0.prod-cloud-ocb.orange-business.com/v2/cddffdf04cf441c8b94aac85dfdc2a69/records'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['X-Auth-Token'] = myToken;\n//msg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"MTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE=\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\nmsg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"' + myData +'\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["6fbc5946.e0014","c941ba07.b2db88"]]},{"id":"6fbc5946.e0014","type":"http request","z":"ec7db15.8aac95","name":"Msg_DIS_Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":300,"wires":[["57e0d2bc.e32944"]]},{"id":"cec2e85f.749c08","type":"change","z":"ec7db15.8aac95","name":"Copy Authorization Token","rules":[{"t":"set","p":"mytoken","pt":"flow","to":"headers.x-subject-token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":300,"wires":[["28f51fb8.3278c8"]]},{"id":"c941ba07.b2db88","type":"debug","z":"ec7db15.8aac95","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":240,"wires":[]},{"id":"57e0d2bc.e32944","type":"debug","z":"ec7db15.8aac95","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":380,"wires":[]},{"id":"71c48219.8ed02c","type":"base64","z":"ec7db15.8aac95","name":"","action":"str","property":"payload","x":280,"y":60,"wires":[["2e47035c.6f09f4"]]},{"id":"2e47035c.6f09f4","type":"change","z":"ec7db15.8aac95","name":"","rules":[{"t":"set","p":"base64payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":60,"wires":[[]]},{"id":"6578469e.4f8e1","type":"function","z":"18d29d40.a5b22b","name":"Flexible Engine Https Authentication Token Message","func":"msg.method = 'POST'\nmsg.url = 'https://iam.eu-west-0.prod-cloud-ocb.orange-business.com/v3/auth/tokens'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json;charset=utf8';\nmsg.payload = '{\"auth\":{\"identity\":{\"methods\":[\"password\"],\"password\":{\"user\":{\"name\":\"ernest.nam.hee\",\"password\":\"5Tvmdlmdms15e@\",\"domain\":{\"name\":\"OCB0001686\"}}}},\"scope\":{\"project\":{\"name\":\"eu-west-0\"}}}}'\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["e0beb812.99d79"]]},{"id":"e0beb812.99d79","type":"http request","z":"18d29d40.a5b22b","name":"Flexible Engine Https Authentication Token Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":340,"wires":[["e99b33e0.16df38"]]},{"id":"e99b33e0.16df38","type":"switch","z":"18d29d40.a5b22b","name":"Token Is Available ?","property":"headers.x-subject-token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":340,"wires":[["95ae6aa7.a2a238"],[]]},{"id":"c1c749b.bd867b8","type":"function","z":"18d29d40.a5b22b","name":"Flexible Engine DIS Record Message","func":"var disToken = flow.get(\"disToken\");\nvar disStreamName = flow.get(\"disStreamname\");\nvar disPartition = flow.get(\"disPartition\");\n\nvar disData = flow.get(\"base64payload\");\n\nmsg.method = 'POST'\nmsg.url = 'https://dis.eu-west-0.prod-cloud-ocb.orange-business.com/v2/cddffdf04cf441c8b94aac85dfdc2a69/records'\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['X-Auth-Token'] = disToken;\n//msg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"MTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE=\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\n//msg.payload = '{\"stream_name\": \"nhe-live-object\",\"records\": [{\"data\": \"' + myData +'\",\"explicit_hash_key\": null,\"partition_key\": \"0\"}]}'\nmsg.payload = {\"stream_name\": disStreamName,\n\"records\": [{\"data\": disData ,\n\"explicit_hash_key\": null,\n\"partition_key\": disPartition}]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":480,"wires":[["59146367.48d45c"]]},{"id":"549d792c.b44cd8","type":"http request","z":"18d29d40.a5b22b","name":"Flexible Engine DIS Record Request","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":540,"wires":[["90320488.fc2368"]]},{"id":"95ae6aa7.a2a238","type":"change","z":"18d29d40.a5b22b","name":"Copy Flexible Engine Authorization Token & Streams","rules":[{"t":"set","p":"disToken","pt":"flow","to":"headers.x-subject-token","tot":"msg"},{"t":"set","p":"disStreamname","pt":"flow","to":"nhe-live-object","tot":"str"},{"t":"set","p":"disPartition","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":480,"wires":[["c1c749b.bd867b8"]]},{"id":"d86db8ba.f89118","type":"debug","z":"18d29d40.a5b22b","name":"FE_dis_record_Tosend_msg","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":420,"wires":[]},{"id":"90320488.fc2368","type":"debug","z":"18d29d40.a5b22b","name":"FE_dis_record_request","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":640,"wires":[]},{"id":"5c9108d5.6766a","type":"base64","z":"18d29d40.a5b22b","name":"Encode LO Payload to Base64","action":"str","property":"payload","x":270,"y":240,"wires":[["10a07490.1ae543"]]},{"id":"10a07490.1ae543","type":"change","z":"18d29d40.a5b22b","name":"Save LO Payload (base64)","rules":[{"t":"set","p":"base64payload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[[]]},{"id":"8308d6f3.51e968","type":"watch","z":"18d29d40.a5b22b","name":"","files":"cxwcxw","recursive":"","x":100,"y":660,"wires":[["97cb6f62.ab9ca8"]]},{"id":"97cb6f62.ab9ca8","type":"xml","z":"18d29d40.a5b22b","name":"","property":"payload","attr":"","chr":"","x":310,"y":660,"wires":[[]]},{"id":"59146367.48d45c","type":"json","z":"18d29d40.a5b22b","name":"Convert to Json String","property":"payload","action":"str","pretty":false,"x":980,"y":480,"wires":[["549d792c.b44cd8","d86db8ba.f89118"]]}]